body {
    background-color: #32323D;
    color: white;
}

.user-banner {
    margin-top: 20px;
}

img.avatar {
    max-height: 30px;
    border-radius: 50%;
}

a {
    color: #a2a2ad;
}

img.poster {
    max-height: 400px;
    max-width: 300px;
}

.movie {
    margin-bottom: 20px;
}

.movie .description {
    margin-top: 20px;
}

.error {color: red;}

.footer {
    padding-top: 50px;
}